.container {
    border: 1px solid #e0e0e0;
    width: 200px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cardInput {
    margin-top: 10px;
}

.listTitle {
    cursor: pointer;
}

.listTitle:hover {
    color: gray;
}

.removeButton {
    color: red;
    margin-left: 50px;
}